
body{
	position: relative;
	height: 100%;
	width: 100%;	
}
.wrapper{
	width: 100%;
	height: 100%;
	min-width: 870px;
}
header{
	height: 40px;
	background-color: #085494;
}

/*main menu styles*/
.main_menu{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	height: 40px;
}
.main_menu li{
	display: inline-block;
	color: #4e9ed6;
	line-height: 40px;
	height: 40px;
}
.main_menu li a:hover{
	color:#ffffff;
	background: linear-gradient(to bottom, #1e5799 0%, #51b1dc 0%, #207cca 100%, #2e7ac4 100%);
}	
.main_menu li a{
	font-size: 14px;
	line-height: 40px;
	padding: 11px 13px;
	margin: 0px;
	color: #4e9ed6;
	text-decoration: none;
}
.entrance span{
	color: #fff;
}
.main_menu{
	float: right;
}
.entrance{
	background: linear-gradient(to bottom, #1e5799 0%, #51b1dc 0%, #207cca 100%, #2e7ac4 100%);
	margin-right: 25px;
	border: 1px solid #449ad3;
	box-sizing: border-box;
}
.entrance span{
	padding: 15px 30px 15px 15px;
}
.entrance span a{
	color: #fff;
	font-size: 16px;
	padding: 10px 5px;
	text-decoration: underline;
}
.Minhas{
	border-left: 2px solid #60b5ed;
	margin-left: 16px;
	padding-left: 16px;
	background-image: url(../img/flag.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.Minhas span{
	padding-left: 25px;
	color: #fff;
	box-sizing: border-box;
}

/*background styles*/
.background{
	width: 100%;
	height: 1030px;
	background: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
	padding-top: 214px;
	box-sizing: border-box;
}

/*registration block styles*/
.form_container{
	position: relative;
	margin: 0px auto;
	background-color: rgba(30, 30, 30, 0.7);
	max-width: 560px; 
}
.form_heder{
	height: 60px;
	color: #fff;
	border-bottom: 2px solid #fff;
	box-sizing: border-box;
	position: relative;
	text-align: center;
}
.form_heder span{
	line-height: 60px;
	font-size: 24px;
	margin:0px auto;
}
.facebook_block{
	height: 36px;
	width: 296px;
	margin: 36px auto 0px auto;
	background-image: url(../img/facebook.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;	
}
.facebook_ref{
	display: block;
	width: 296px;
	height: 36px;
}
.stribe{
	width: 296px;
	height: 36px;
	margin: 36px auto 0px auto;
	background-image: url(../img/stribes.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}
.stribe span{
	display: inline-block;
	color:#999999;
	margin: 10px auto;
	font-size: 14px; 
}

/* form styles */

form{
	width: 296px;
	margin: 0px auto;
	padding:0px;
	text-align: center;
}
form input{
	width: 296px;
	height: 36px;
	margin-top:20px;
	box-sizing: border-box;
	background-color: #0f0f0f;
	border: none;
	border-bottom: 1px solid #4c4c4b;
 	color:#cccccc;
 	padding: 10px 0px 10px 20px;
}
form input:active, form input:hover {
	background-color: #1b5288;
	box-shadow: 0px 0px 25px 10px rgba(78, 138, 176, 0.75);
	border-bottom: 0px;
}
input[type="checkbox"]{
	float: left;
	width:15px;
	height: 15px;
}
input[type="submit"]{
	width: 160px;
	text-align: center;
	margin-top: 15px;
	padding: 0px;
	display: inline-block;
	border-radius: 5px;
	background: linear-gradient(to bottom, #1e5799 0%, #51b1dc 0%, #207cca 100%, #2e7ac4 100%);

}
label{
	color: #cccccc;
}
label[for='send_checkbox']{
	float: left;
	padding-top: 18px;
	padding-left: 15px;
}/*
label[for='send_button']{
	display: inline-block;
	position: relative;
	text-align: center;
	width: 310px;
}*/
.afterword{
	width: 330px;
	text-align: center;
	margin: 0px auto;
	color: #cccccc;
	padding-bottom: 15px;
	font-size: 11px;
}