html, body{
	width: 100%;
	height: 100%;
	background-color: #282828;
		padding-top:40px;
		box-sizing: border-box;
}

/* position options*/

.paint_wrapper{
	height: 490px;
	width: 430px;
	margin: auto auto;
	overflow: hidden;
}

/* table styles*/

table{
	border-collapse: collapse;
	border: none;
	background-color: #fff;
}
td{
	width: 58px;
	font-size: 0px;
}

/* add border options */

.row_1 td{
	border-right:8px solid black;
	border-bottom:8px solid black;
}
.row_1 td:last-child, .row_2 td:last-child, .row_3 td:last-child, .row_4 td:last-child, .row_5 td:last-child, .row_6 td:last-child, .row_7 td:last-child {
	border-right:0px;
}
.row_2 td, .row_3 td, .row_4 td, .row_5 td, .row_6 td{
	border-right:8px solid black;
	border-bottom:8px solid black;
}
.row_7 td{
	border-right: 8px solid black;
}
.row_7 td:last-child{
	border-right: 0px;
}
.row_5 td:first-child, .row_6 td:first-child{
	border-bottom: 0px;	
}

/* add height of table wows*/

.row_1{
	height: 50px;	
}
.row_2{
	height: 130px;
}
.row_3{
	height: 130px;
}
.row_4{
	height: 60px;
}
.row_5{
	height: 60px;
}
.row_6{
	height: 30px;
}
.row_7{
	height: 30px;
}

/* styles of 'forming' row*/
.row_8{
	border: none;
	font-size: 0px;
	background-color: red;
	height: 0px;
	width: 0px;
}
/* color styles */

.row_2 td:nth-child(2){
	background-color: #ff583b;
}
.row_1 td:last-child, .row_2 td:last-child, .row_5 td:first-child {
	background-color: #fffa7d;
}
.row_4 td:nth-child(1), .row_6 td:nth-child(2){
	background-color: #1e1e1e;
}
.row_5 td:last-child{
	background: -moz-radial-gradient(center, ellipse cover, #054480 0%, #7db9e8 0%, #2989d8 100%, #207cca 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #054480 0%,#7db9e8 0%,#2989d8 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #054480 0%,#7db9e8 0%,#2989d8 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#054480', endColorstr='#207cca',GradientType=1 );
}